package template

import . "datapagestest/fixture/ok_templ_href_dot/datapagesgen/href"

templ TemplatePageIndex() {
	<a href={ PageProfile("alice") }>Profile</a>
	<a href={ External("https://example.com") }>External</a>
	<a href={ Asset("style.css") }>Asset</a>
}

templ TemplatePageProfile() {
	<a href={ PageIndex() }>Index</a>
	<a href={ External("https://example.com") }>External</a>
	<a href={ Asset("style.css") }>Asset</a>
}
