package app

import "example/datapagesgen/href"

templ page() {
	<a href={ href.Login() }>Login</a>
	<a href={ href.Profile() }>Profile</a>
	<link rel="stylesheet" href="/static/style.css"/>
	<link rel="icon" href="/static/favicon.ico"/>
	<a href="https://example.com">External</a>
	<a href="http://example.com">External HTTP</a>
	<a href="#section">Anchor</a>
}
